header{
    background-image: url("../images/pizza-1317699_960_720.webp");
    background-size: cover;
    height: 100%;
    width:100%;
    text-align: center;
    padding: 400px;
    color:white;
    font-size:50px;
}
h1{
    font-size: 150px;
}
h2{
    font-size: 80px;
}
h3{
    font-size:60px;
}
#order{
    margin-top: 10%;
    background-color: grey;
    margin-bottom: 10%;
}


.footer{
    background-color:black;
    color:white;
    padding:20px;
    width:100%;
    text-align: center;
}